@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../../fonts/BeVietNamPro/BeVietnamPro-Regular.woff2') format('woff2'),
         url('../../fonts/BeVietNamPro/BeVietnamPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../../fonts/BeVietNamPro/BeVietnamPro-Bold.woff2') format('woff2'),
         url('../../fonts/BeVietNamPro/BeVietnamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../../fonts/BeVietNamPro/BeVietnamPro-BoldItalic.woff2') format('woff2'),
         url('../../fonts/BeVietNamPro/BeVietnamPro-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../../fonts/BeVietNamPro/BeVietnamPro-Italic.woff2') format('woff2'),
         url('../../fonts/BeVietNamPro/BeVietnamPro-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../../fonts/Philosopher/Philosopher-Bold.woff2') format('woff2'),
         url('../../fonts/Philosopher/Philosopher-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../../fonts/Philosopher/Philosopher-BoldItalic.woff2') format('woff2'),
         url('../../fonts/Philosopher/Philosopher-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../../fonts/Philosopher/Philosopher-Regular.woff2') format('woff2'),
         url('../../fonts/Philosopher/Philosopher-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../../fonts/Philosopher/Philosopher-Italic.woff2') format('woff2'),
         url('../../fonts/Philosopher/Philosopher-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}