/* ===================================
   CONTAINER
   ================================= */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

@media (min-width: 480px) {
  .container {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
  }
}

@media (min-width: 640px) {
  .container {
    padding-left: var(--space-8);
    padding-right: var(--space-8);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: var(--space-10);
    padding-right: var(--space-10);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1328px;
    padding-left: var(--space-10);
    padding-right: var(--space-10);
  }
}