/* ===================================
   CONTAINER
   ================================= */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-4);
}

@media (min-width: 480px) {
  .container {
    padding: 0 var(--space-6);
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0 var(--space-8);
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 var(--space-10);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1328px;
    padding: 0 var(--space-10);
  }
}