/* ===== Base ===== */
@import "./base/fonts.css";
@import "./base/variables.css";
@import "./base/reset.css";
@import "./base/typography.css";
@import "./base/animations.css";

/* ===== Layout system ===== */
@import "./layout/container.css";
@import "./layout/grid.css";

/* ===== Utilities ===== */
@import "./utilities/spacing.css";
@import "./utilities/helper.css";

/* ===== Components ===== */
@import "./components/card.css";
@import "./components/button.css";
@import "./components/badge.css";

/* ===== Layout sections ===== */
@import "./layout/header.css";
@import "./layout/footer.css";