#main .badge {
    padding: var(--space-1) var(--space-3);
    background-color: var(--bg-badge);
    border-radius: var(--radius-lg);

    font-size: var(--text-sm);
    font-weight: var(--font-bold);

    color: var(--text-badge);
}

@media (min-width: 480px) and (max-width: 639px) {
    #main .badge {
        font-size: var(--text-base);
        padding: var(--space-2) var(--space-4);
    }
}

@media (min-width: 700px) and (max-width: 1023px) {
    #main .badge {
        font-size: var(--text-base);
        padding: var(--space-2) var(--space-4);
    }
}

@media (min-width: 1280px) {
    #main .badge {
        font-size: var(--text-base);
        padding: var(--space-2) var(--space-4);
    }
}