<!-- views/partials/header.html -->
<header id="header" class="pt-6 pb-6 mb-4 text-center">
    <div class="container">
        <div class="header__main d-flex flex-row gap-2 justify-center items-center mb-4">
            <div class="header__icon">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="header__text uppercase text-left">
                <h1 class="header__brand">
                    Tools.bctechvibe.io.vn
                </h1>
                <p class="header__subtitle">
                    Web Utility Kit
                </p>
            </div>
        </div>
        <p class="header__meta text-center justify-center">
            Web Utility Kit – Bộ công cụ thông dụng giúp kiểm tra chính xác và toàn diện cho website.
        </p>
        <!-- Button Theme Toggle -->
        <div class="header__theme-toggle mt-3">
            <button id="btn-theme-toggle" class="btn btn__theme-toggle d-flex justify-center items-center"
                aria-label="Switch to Dark mode">
                <i class="fa-solid fa-moon icon--yellow"></i>
            </button>
            <div class="theme-tooltip px-4 py-2">
                <span id="theme-label">Dark Mode</span>
            </div>
        </div>
    </div>
</header>