<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../public/assets/vendor/fontawesome/css/all.min.css">
    <link rel="icon" type="image/png" href="../public/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../public/favicon.svg" />
    <link rel="shortcut icon" href="../public/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../public/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Website" />
    <link rel="manifest" href="../public/site.webmanifest" />

    <title>BCTECHVIBE | Danh sách công cụ miễn phí cho Website Administrator</title>
</head>

<body>
    <div class="wrapper">
        <!-- Begin: Header Content -->
        <header id="header" class="pt-6 pb-6 mb-4 text-center">
            <div class="container">
                <div class="header__main d-flex flex-row gap-2 justify-center items-center mb-4">
                    <div class="header__icon">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                    </div>
                    <div class="header__text uppercase text-left">
                        <h1 class="header__brand">
                            Tools.bctechvibe.io.vn
                        </h1>
                        <p class="header__subtitle">
                            Web Utility Kit
                        </p>
                    </div>
                </div>
                <p class="header__meta text-center justify-center">
                    Web Utility Kit – Bộ công cụ thông dụng giúp kiểm tra chính xác và toàn diện cho website.
                </p>
                <!-- Button Theme Toggle -->
                <div class="header__theme-toggle mt-3">
                    <button id="btn-theme-toggle" class="btn btn__theme-toggle d-flex justify-center items-center"
                        aria-label="Switch to Dark mode">
                        <i class="fa-solid fa-moon icon--yellow"></i>
                    </button>
                    <div class="theme-tooltip px-4 py-2">
                        <span id="theme-label">Dark Mode</span>
                    </div>
                </div>
            </div>
        </header>
        <!-- End: Header Content -->
        <main id="main" class="main pt-6 pb-6 mt-4 mb-4">
            <div class="container">
                <div class="grid gird-1 grid-2 grid-3">
                    <!-- Card DNS Tool -->
                    <a href="" class="card d-flex flex-col gap-5 card--dns">
                        <div class="card__header d-flex flex-row justify-between items-center">
                            <i class="fa-solid fa-globe card__icon"></i>
                            <span class="badge card__badge uppercase">Network</span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">Tra cứu bản ghi DNS (DNS Lookup)</h3>
                            <p class="card__description">
                                Tìm kiếm và đối chiếu các bản ghi DNS (A, CNAME, MX, NS) từ nhiều máy chủ trên toàn cầu.
                            </p>
                        </div>

                        <div class="card__footer">
                            <span class="card__action">
                                Truy cập công cụ
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </span>
                        </div>
                    </a>
                    <!-- Card SSL Tool -->
                    <a href="" class="card d-flex flex-col gap-5 card--ssl">
                        <div class="card__header d-flex flex-row justify-between items-center">
                            <i class="fa-solid fa-lock card__icon"></i>
                            <span class="badge card__badge uppercase">Sercurity</span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">Kiểm tra Chứng chỉ SSL (SSL Checker)</h3>
                            <p class="card__description">
                                Kiểm tra trạng thái, thông tin và thời hạn hiệu lực của chứng chỉ SSL/TLS trên website.
                            </p>
                        </div>

                        <div class="card__footer">
                            <span class="card__action">
                                Truy cập công cụ
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </span>
                        </div>
                    </a>
                    <!-- Card Redirect Tool -->
                    <a href="" class="card d-flex flex-col gap-5 card--redirect">
                        <div class="card__header d-flex flex-row justify-between items-center">
                            <i class="fa-solid fa-arrow-up-right-from-square card__icon"></i>
                            <span class="badge card__badge uppercase">SEO</span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">Theo dõi Chuỗi Chuyển hướng (Redirect Checker)</h3>
                            <p class="card__description">
                                Kiểm tra lộ trình chuyển tiếp (301, 302) cùng mã trạng thái HTTP cho từng đường dẫn.
                            </p>
                        </div>

                        <div class="card__footer">
                            <span class="card__action">
                                Truy cập công cụ
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </span>
                        </div>
                    </a>
                    <!-- Card My IP Address Tool -->
                    <a href="" class="card d-flex flex-col gap-5 card--ip">
                        <div class="card__header d-flex flex-row justify-between items-center">
                            <i class="fa-solid fa-wifi card__icon"></i>
                            <span class="badge card__badge uppercase">Network</span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">Xác định Địa chỉ IP của tôi (My IP Address)</h3>
                            <p class="card__description">
                                Hiển thị địa chỉ IP công khai, thông tin vị trí và nhà mạng đang sử dụng.
                            </p>
                        </div>

                        <div class="card__footer">
                            <span class="card__action">
                                Truy cập công cụ
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </span>
                        </div>
                    </a>
                    <!-- Card Chmod Calculator Tool -->
                    <a href="" class="card d-flex flex-col gap-5 card--linux">
                        <div class="card__header d-flex flex-row justify-between items-center">
                            <i class="fa-brands fa-linux card__icon"></i>
                            <span class="badge card__badge uppercase">Linux</span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">Tính toán quyền trên Linux (Chmod Calculator)</h3>
                            <p class="card__description">
                                Hỗ trợ xác lập quyền hạn truy cập cho tập tin và thư mục trên hệ thống Linux/Unix.
                            </p>
                        </div>

                        <div class="card__footer">
                            <span class="card__action">
                                Truy cập công cụ
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </span>
                        </div>
                    </a>
                    <!-- Card Mixed Content Scanner Tool -->
                    <a href="" class="card d-flex flex-col gap-5 card--mixed">
                        <div class="card__header d-flex flex-row justify-between items-center">
                            <i class="fa-solid fa-bug card__icon"></i>
                            <span class="badge card__badge uppercase">Website Developer</span>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">Quét Nội dung Hỗn hợp (Mixed Content Scan)</h3>
                            <p class="card__description">
                                Phát hiện các thành phần không được mã hóa (HTTP) trên website sử dụng HTTPS.
                            </p>
                        </div>

                        <div class="card__footer">
                            <span class="card__action">
                                Truy cập công cụ
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <!-- End: Main content -->

        <!-- Begin: Footer Content -->
        <footer id="footer" class="pt-6 pb-6 mt-4">
            <div class="container">
                <div class="footer__main">
                    <!-- Section: Friends -->
                    <section class="footer__friends">
                        <h3 class="footer__title">
                            Bạn bè & đối tác
                        </h3>
                        <div class="footer__friend--list">
                            <a href="https://tino.vn?php=3707" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Tino Group</a>
                            <a href="https://tino.vn/blog?php=3707" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Tino Blog</a>
                            <a href="https://duyphuong.id.vn/" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Duy Phương</a>
                            <a href="https://itxin.io.vn/" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Đức Việt</a>
                        </div>
                    </section>
                    <!-- Section: Note -->
                    <section class="footer__note">
                        <h3 class="footer__title">
                            Chia sẻ & Góp ý
                        </h3>
                        <div class="footer__note--content">
                            <p class="footer__message">
                                Cứ thoải mái chia sẻ lại nội dung của <a href="https://bctechvibe.io.vn" target="_blank"
                                    rel="noopener">tôi</a> (nhớ ghi nguồn nha ^^). Nếu bài viết giúp bạn giải quyết được
                                điều gì đó, tặng tôi
                                <a href="https://me.momo.vn/bctechvibe" target="_blank" rel="noopener noreferrer">ly cà
                                    phê ☕</a> cho ấm bụng nhé 🙂.
                            </p>
                            <p class="footer__sponsor">
                                Hosting/VPS được tài trợ bởi <a href="https://tino.vn?php=3707" target="_blank"
                                    rel="noopener noreferrer">TINO GROUP</a> – một
                                trong những tập đoàn công nghệ hàng đầu Việt Nam.
                            </p>
                        </div>
                    </section>
                    <!-- Section: Trusted -->
                    <section class="footer__trusted">
                        <h3 class="footer__title">
                            Được tin tưởng bởi
                        </h3>
                        <div class="footer__trusted--list d-flex flex-wrap gap-4">
                            <a href="https://tino.vn?php=3707" target="_blank" rel="noopener noreferrer"
                                class="btn footer__trusted--item">
                                <img src="../../../client/public/assets/images/layout/footer/logo-tino.png"
                                    alt="Tino Group" class="footer__trusted--img">
                            </a>
                            <a href="https://transparencyreport.google.com/safe-browsing/search?url=bctechvibe.io.vn&hl=en"
                                target="_blank" rel="noopener noreferrer" class="btn footer__trusted--item">
                                <img src="../../../client/public/assets/images/layout/footer/google-safe-browsing.webp"
                                    alt="Google Safe Browsing" class="footer__trusted--img">
                            </a>
                            <a href="https://sitecheck.sucuri.net/results/bctechvibe.io.vn" target="_blank"
                                rel="noopener noreferrer" class="btn footer__trusted--item">
                                <img src="../../../client/public/assets/images/layout/footer/sucuri.png" alt="Sucuri"
                                    class="footer__trusted--img">
                            </a>
                        </div>
                    </section>
                </div>
                <!-- Button Back to top -->
                <div class="footer__backtop text-center pt-8">
                    <a class="footer__btn--go-top" aria-label="Go to top" href="#top" rel="noopener noreferrer">
                        <span>Back To Top</span>
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </a>
                </div>
            </div>
        </footer>
        <!-- End: Footer Content -->
    </div>
    <script src="../src/js/components/theme-toggle.js" defer></script>
</body>

</html>