<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../src/css/main.css" />
    <link rel="stylesheet" href="../../src/css/pages/dns-lookup.css" />
    <link rel="stylesheet" href="../../public/assets/vendor/fontawesome/css/all.min.css" />
    <link rel="icon" type="image/png" href="../../public/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../public/favicon.svg" />
    <link rel="shortcut icon" href="../../public/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Website" />
    <link rel="manifest" href="../../public/site.webmanifest" />
    <title>DNS Lookup Tool | Sản phẩm của BCTECHVIBE</title>
</head>

<body>
    <div class="wrapper page--dns">
        <!-- Begin: Header Content -->
        <header id="header" class="pt-6 pb-6 mb-4 text-center">
            <div class="container">
                <div class="header__main d-flex flex-row gap-2 justify-center items-center mb-4">
                    <div class="header__icon">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <div class="header__text uppercase text-left">
                        <h1 class="header__brand">
                            DNS Lookup
                        </h1>
                        <p class="header__subtitle">
                            Sản phẩm thuộc BCTECHVIBE
                        </p>
                    </div>
                </div>
                <p class="header__meta text-center justify-center">
                    Tìm kiếm và đối chiếu các bản ghi DNS (A, CNAME, MX, NS) từ nhiều máy chủ trên toàn cầu.
                </p>
                <!-- Button Theme Toggle -->
                <div class="header__theme-toggle mt-3">
                    <button id="btn-theme-toggle" class="btn btn__theme-toggle d-flex justify-center items-center"
                        aria-label="Switch to Dark mode">
                        <i class="fa-solid fa-moon icon--yellow"></i>
                    </button>
                    <div class="theme-tooltip px-4 py-2">
                        <span id="theme-label">Dark Mode</span>
                    </div>
                </div>
            </div>
        </header>
        <!-- End: Header Content -->

        <!-- Begin: Main Content -->
        <main id="main" class="main pb-6 mb-4">
            <div class="container">
                <div class="tool-card d-flex dns-lookup-card rounded-md">
                    <div class="tool-card__header py-4 rounded-top ">
                        <h2 class="tool-card__header-title text-center">
                            DNS Lookup / IP lookup
                            <i class="fas fa-keyboard"></i>
                        </h2>
                    </div>
                    <div class="tool-card__body rounded-bottom">
                        <section class="">
                            <form id="dnsLookupForm" method="post" class="dns-lookup__form">
                                <!-- Hostname Input -->
                                <div class=" d-flex flex-col gap-2 form__control-hostname">
                                    <label for="hostname" class="form-label">Domain or IP</label>
                                    <input type="text" id="hostname" name="hostname" placeholder="example.com" required
                                        class="tool-card__form-control rounded-sm">
                                    <span class="error-message" id="hostnameError"></span>
                                </div>
                                <!-- DNS Server Select -->
                                <div class="form-group d-flex flex-col gap-2 form__control-dns-server">
                                    <label for="dnsServer">Server DNS</label>
                                    <select id="dnsServer" name="server" class="tool-card__form-control rounded-sm">
                                        <option value="google">Google DNS</option>
                                        <option value="cloudflare">Cloudflare</option>
                                        <option value="quad9">Quad9</option>
                                        <option value="opendns">OpenDNS</option>
                                    </select>
                                </div>
                                <!-- Record Type Select -->
                                <div class="form-group d-flex flex-col gap-2 form__control-type-record">
                                    <label for="recordType">Type</label>
                                    <select id="recordType" name="type" class="tool-card__form-control rounded-sm">
                                        <option value="ALL">ALL</option>
                                        <option value="A">A</option>
                                        <option value="AAAA">AAAA</option>
                                        <option value="NS">NS</option>
                                        <option value="MX">MX</option>
                                        <option value="CNAME">CNAME</option>
                                        <option value="TXT">TXT</option>
                                        <option value="PTR">PTR</option>
                                        <option value="DNSSEC">DNSSEC</option>
                                        <option value="BLACKLIST" style="font-weight:bold; color:var(--error);">
                                            BLACKLIST</option>
                                    </select>
                                </div>
                                <!-- Submit Button -->
                                <div class="form-group d-flex flex-row form__control-btn-submit">
                                    <button type="submit" class="btn tool-card__form-control btn-resolve "
                                        id="btnResolve">
                                        <i class="fa-solid fa-magnifying-glass" id="searchIcon"></i>
                                        <span>Resolve</span>
                                        <i class="fa-solid fa-spinner fa-spin" id="loadingIcon"></i>
                                    </button>
                                </div>
                            </form>
                        </section>

                        <!-- Results Section -->
                        <section class="results__section d-flex flex-col" id="resultsSection">
                            <div class="results-card">
                                <!-- Results Header -->
                                <div
                                    class="results__section-header d-flex flex-row items-center justify-between gap-4">
                                    <h3 id="resultsTitle" class="results__section-title">
                                    </h3>
                                    <button class="btn btn-whois d-none flex-row items-center justify-between gap-1"
                                        id="btnWhois">
                                        <i class="fa-solid fa-address-card"></i>
                                        Whois
                                    </button>
                                </div>

                                <!-- Results Table -->
                                <div class="table-wrapper mt-4 d-none" id="tableWrapper">
                                    <table class="results-table results-table--dns" id="resultsTable">
                                        <thead class="results-table__head">
                                            <tr id="resultsTableHead"
                                                class="results-table__row results-table__row--head">
                                                <th class="results-table__cell results-table__cell--domain">DOMAIN</th>
                                                <th class="results-table__cell results-table__cell--type">TYPE</th>
                                                <th class="results-table__cell results-table__cell--ttl">TTL</th>
                                                <th class="results-table__cell results-table__cell--answer">ANSWER</th>
                                                <th class="results-table__cell results-table__cell--isp">ISP / ORG</th>
                                            </tr>
                                        </thead>
                                        <tbody id="resultsTableBody" class="results-table__body">
                                            <!-- Results will be inserted here -->
                                        </tbody>
                                    </table>
                                </div>

                                <div id="resultDNSSECSection" class="d-none">
                                    <strong id="dnssecDetailTitleDNSKEY"
                                        class="dnssec-detail-header-dnskey d-inline-block mt-4">DNSKEY Records</strong>
                                    <div class="table-wrapper mt-4 d-none" id="tableWrapperDNSKEY">
                                        <table class="results-table results-table--dnssec-dnskey">
                                            <thead class="results-table__head">
                                                <tr id="resultsTableHeadDNSKEY"
                                                    class="results-table__row results-table__row--head">
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-dnskey-keyrole">
                                                        KEY ROLE</th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-dnskey-flags">
                                                        ALGORITHM</th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-dnskey-protocol">
                                                        KEY TAG</th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-dnskey-algorithm">
                                                        PROTOCOL</th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-dnskey-publickey">
                                                        PUBLIC KEY</th>
                                                </tr>
                                            </thead>
                                            <tbody id="resultsTableBodyDNSKEY" class="results-table__body">
                                            </tbody>
                                        </table>
                                    </div>

                                    <strong id="dnssecDetailTitleDS" class="dnssec-detail-header-ds d-inline-block mt-4">DS
                                        Records</strong>
                                    <div class="table-wrapper mt-4" id="tableWrapperDS">
                                        <table class="results-table results-table--dnssec-ds">
                                            <thead class="results-table__head">
                                                <tr id="resultsTableHeadDS"
                                                    class="results-table__row results-table__row--head">
                                                    <th class="results-table__cell">
                                                        KEY TAG
                                                    </th>
                                                    <th class="results-table__cell">
                                                        ALGORITHM
                                                    </th>
                                                    <th class="results-table__cell">
                                                        DIGEST TYPE
                                                    </th>
                                                    <th class="results-table__cell">
                                                        DIGEST
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="resultsTableBodyDS" class="results-table__body">
                                            </tbody>
                                        </table>
                                    </div>

                                    <strong id="dnssecDetailTitleRRSIG"
                                        class="dnssec-detail-header-rrsig d-inline-block mt-4">RRSIG Records</strong>
                                    <div class="table-wrapper mt-4" id="tableWrapperRRSIG">
                                        <table class="results-table results-table--dnssec-rrsig">
                                            <thead class="results-table__head">
                                                <tr id="resultsTableHeadDNSKEY"
                                                    class="results-table__row results-table__row--head">
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-rrsig-typecovered">
                                                        TYPE COVERED
                                                    </th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-rrsig-algorithm">
                                                        ALGORITHM
                                                    </th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-rrsig-keytag">
                                                        KEY TAG
                                                    </th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-rrsig-signername">
                                                        SIGNER NAME
                                                    </th>
                                                    <th
                                                        class="results-table__cell results-table__cell--dnssec-rrsig-expiration">
                                                        EXPIRATION
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="resultsTableBodyRRSIG" class="results-table__body">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>



                                <!-- Share Link -->
                                <section class="share-link mt-4 d-none" id="shareLinkSection">
                                    <div class="share-link__box">
                                        <div class="share-link__header d-flex flex-row gap-1">
                                            <i class="share-link__icon fas fa-share-nodes"></i>
                                            <strong class="share-link__title">Chia sẻ kết quả này:</strong>
                                        </div>

                                        <div class="share-link__content mt-2 d-flex flex-row items-stretch">
                                            <input type="text" id="shareLink" readonly class="share-link__input" />
                                            <button class="share-link__button share-link__button--copy gap-1"
                                                id="btnCopyLink">
                                                <i class="fas fa-copy"></i>
                                                <span>Copy</span>
                                            </button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <!-- Error Section -->
                        <section class="error-message d-none" id="errorSection">
                            <div class="error-message__card  mt-3">
                                <div class="error-message__header d-flex flex-row items-center gap-2">
                                    <i class="fas fa-exclamation-triangle error-message__icon"></i>
                                    <h3 class="error-message__title">Tra cứu DNS thất bại</h3>
                                </div>
                                <p id="errorMessage" class="error-message__description"></p>
                            </div>
                        </section>
                    </div>
                </div>
        </main>
        <!-- End: Main Content -->

        <!-- Begin: Main Content -->
        <footer id="footer" class="pt-6 pb-6 mt-4">
            <div class="container">
                <div class="footer__main">
                    <!-- Section: Friends -->
                    <section class="footer__friends">
                        <h3 class="footer__title">
                            Bạn bè & đối tác
                        </h3>
                        <div class="footer__friend--list">
                            <a href="https://tino.vn?php=3707" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Tino Group</a>
                            <a href="https://tino.vn/blog?php=3707" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Tino Blog</a>
                            <a href="https://duyphuong.id.vn/" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Duy Phương</a>
                            <a href="https://itxin.io.vn/" target="_blank" rel="noopener noreferrer"
                                class="btn footer__friends--item">Đức Việt</a>
                        </div>
                    </section>
                    <!-- Section: Note -->
                    <section class="footer__note">
                        <h3 class="footer__title">
                            Chia sẻ & Góp ý
                        </h3>
                        <div class="footer__note--content">
                            <p class="footer__message">
                                Cứ thoải mái chia sẻ lại nội dung của <a href="https://bctechvibe.io.vn" target="_blank"
                                    rel="noopener">tôi</a> (nhớ ghi nguồn nha ^^). Nếu bài viết giúp bạn giải quyết được
                                điều gì đó, tặng tôi
                                <a href="https://me.momo.vn/bctechvibe" target="_blank" rel="noopener noreferrer">ly cà
                                    phê ☕</a> cho ấm bụng nhé 🙂.
                            </p>
                            <p class="footer__sponsor">
                                Hosting/VPS được tài trợ bởi <a href="https://tino.vn?php=3707" target="_blank"
                                    rel="noopener noreferrer">TINO GROUP</a> – một
                                trong những tập đoàn công nghệ hàng đầu Việt Nam.
                            </p>
                        </div>
                    </section>
                    <!-- Section: Trusted -->
                    <section class="footer__trusted">
                        <h3 class="footer__title">
                            Được tin tưởng bởi
                        </h3>
                        <div class="footer__trusted--list d-flex flex-wrap gap-4">
                            <a href="https://tino.vn?php=3707" target="_blank" rel="noopener noreferrer"
                                class="btn footer__trusted--item">
                                <img src="../../../client/public/assets/images/layout/footer/logo-tino.png"
                                    alt="Tino Group" class="footer__trusted--img">
                            </a>
                            <a href="https://transparencyreport.google.com/safe-browsing/search?url=bctechvibe.io.vn&hl=en"
                                target="_blank" rel="noopener noreferrer" class="btn footer__trusted--item">
                                <img src="../../../client/public/assets/images/layout/footer/google-safe-browsing.webp"
                                    alt="Google Safe Browsing" class="footer__trusted--img">
                            </a>
                            <a href="https://sitecheck.sucuri.net/results/bctechvibe.io.vn" target="_blank"
                                rel="noopener noreferrer" class="btn footer__trusted--item">
                                <img src="../../../client/public/assets/images/layout/footer/sucuri.png" alt="Sucuri"
                                    class="footer__trusted--img">
                            </a>
                        </div>
                    </section>
                </div>
                <!-- Button Back to top -->
                <div class="footer__backtop text-center pt-8">
                    <a class="footer__btn--go-top" aria-label="Go to top" href="#top" rel="noopener noreferrer">
                        <span>Back To Top</span>
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </a>
                </div>
            </div>
        </footer>
        <!-- End: Main Content -->
        <!-- Toast Notification -->
        <!-- <div id="toast" class="toast">
            <i class="fas fa-check-circle"></i>
            <span id="toastMessage"></span>
        </div> -->
    </div>
    <!-- <script src="../../src/js/components/theme-toggle.js"></script> -->
    <script src="../../src/js/pages/dns-lookup.page.js" type="module"></script>
</body>

</html>